<div class="form-group" *ngIf="childSelectedAnimal">
  <div>
    <label> Edit Animal Data</label>
    <input class="form-control" name="name" [(ngModel)]="childSelectedAnimal.Name">
    <input class="form-control" name="species" [(ngModel)]="childSelectedAnimal.Species">
    <input class="form-control" name="age" [(ngModel)]="childSelectedAnimal.Age">
    <input class="form-control" name="diet" [(ngModel)]="childSelectedAnimal.Diet">
    <input class="form-control" name="location" [(ngModel)]="childSelectedAnimal.Location">
    <input class="form-control" name="caretakers" [(ngModel)]="childSelectedAnimal.Caretakers">
    <input class="form-control" name="sex" [(ngModel)]="childSelectedAnimal.Sex">
    <input class="form-control" name="likes" [(ngModel)]="childSelectedAnimal.Likes">
    <input class="form-control" name="dislikes" [(ngModel)]="childSelectedAnimal.Dislikes">

    <button class="btn btn-info" (click)="doneClicked()">Finished Editing</button>
  </div>
</div>
