<div class="form-group" *ngIf="childSelectedAnimal">
  <div class="editForm">
    <h3> Edit Animal Data</h3>
    <input class="form-control" name="name" [(ngModel)]="childSelectedAnimal.name">
    <input class="form-control" name="species" [(ngModel)]="childSelectedAnimal.species">
    <input class="form-control" name="age" [(ngModel)]="childSelectedAnimal.age">
    <input class="form-control" name="diet" [(ngModel)]="childSelectedAnimal.diet">
    <input class="form-control" name="location" [(ngModel)]="childSelectedAnimal.location">
    <input class="form-control" name="caretakers" [(ngModel)]="childSelectedAnimal.caretakers">
    <input class="form-control" name="sex" [(ngModel)]="childSelectedAnimal.sex">
    <input class="form-control" name="likes" [(ngModel)]="childSelectedAnimal.likes">
    <input class="form-control" name="dislikes" [(ngModel)]="childSelectedAnimal.dislikes">

    <button class="btn btn-info" (click)="doneClicked()">Finished Editing</button>
  </div>
</div>
