<div class="row">
  <div *ngFor="let animal of childAnimalList" class="col-12 col-sm-6 col-md-4">
    <div class="animalCard">
      <h3>Name: {{animal.Name}}</h3>
      <p>Species: {{animal.Species}}</p>
      <p>Age: {{animal.Age}}</p>
      <p>Diet: {{animal.Diet}}</p>
      <p>Location: {{animal.Location}}</p>
      <p>Caretakers: {{animal.Caretakers}}</p>
      <p>Sex: {{animal.Sex}}</p>
      <p>Likes: {{animal.Likes}}</p>
      <p>Dislikes: {{animal.Dislikes}}</p>
    </div>
  </div>
</div>
